<div class="element-highlight text-center">
    <h1 style="font-size: 2.5em;">Get it now</h1>
    <hr />
    <div class="feature__wrapper" style="border: none;">
        <div class="feature__item">
            <div class="archive__item">
                <div class="archive__item-body">
                    <h2 class="archive__item-title">Full version</h2>
                    <div class="archive__item-excerpt">
                        <p>single-seat license*</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature__item">
            <div class="archive__item">
                <div class="archive__item-body">
                    <h2 class="archive__item-title">{{include.price}}</h2>
                    <div class="archive__item-excerpt">
                        <p>USD</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature__item">
            <div class="archive__item">
                <div class="archive__item-body">
                    <div class="archive__item-title">
                        <a href="{{include.purchase-url}}" class="btn btn--info btn--x-large" target="_blank"><i class="fas fa-dollar-sign"></i><span style="margin-left: 5px;">Purchase</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="grid-row">
        <div class="generic">
            <a id="installer-download" href="{{include.download-url}}" class="btn btn--info btn--x-large" target="_blank"><i class="fas fa-download"></i><span style="margin-left: 5px;">Download demo</span></a>
            <p style="font-size: x-small;">Autodesk 3Ds Max version support: 2016 - 2021 64bit.</p>
        </div>
    </div>
    <hr />
    <div class="grid-row">
        <div class="text-left" style="font-size: small;">
            <ul style="padding-inline-start: 1.0em;">
                <li><strong>Single-seat</strong> license model: it can only be installed and registered on one computer.</li>
                <li><strong>Additional licenses</strong> can be purchased at a discount price. Please <a href="mailto:{{ site.contact.support }}"><strong>contact us</strong> if you intend to buy more than one license</a>.</li>
                <li>The upgrade to the full DesignToolBox package, for current customers of (discontinued) refGuides plugin is now FREE of charge. Install the demo and your current refGuides license will be valid.</li>
                <li>If you are upgrading from refGuides (prior to version 3.1), you will need to uninstall it first. some features needs to be manually removed so, please, follow this <a href="/docs/refguides-uninstall" target="_blank">uninstall notes</a>.</li>
            </ul>
        </div>
    </div>
</div>