<div class="feature feature__wrapper">
    <!-- Transform tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Transform tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/rotate.png" alt="Rotate">
            <h4>Reference rotation</h4>
            <p>3-point rotation. Angle snap option.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/QLrotate.png" alt="QLrotate">
            <h4>Local rotation</h4>
            <p>2-point CAD-like rotation. Angle snap option, local XYZ axis direction option.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/scale.png" alt="scale">
            <h4>Reference Scale</h4>
            <p>4-point scale. Orthogonal reference pick mode. Additionally it can apply a Xform modifier instead of direct transformation.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/QrotateF.png" alt="QLrotate">
            <h4>Move &amp; Align</h4>
            <p>Move node to a new destination and perform an 1D alignment.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/3ptAlign_128.png" alt="3ptAlign">
            <h4>Move &amp; Align</h4>
            <p>Relocate a node from three pairs of points, from an origin position to a target position.</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/Reflect.png" alt="Reflect">
            <h4>Reflect</h4>
            <p>Viewport interactive mirror tool. let's you set a 3d gizmo for freely position mirror planes.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/scaleDim.png" alt="scaleDim">
            <h4>reDimension</h4>
            <p>Unit-measured scale. Orthogonal reference pick mode.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Qoffset.png" alt="Qoffset">
            <h4>Offset</h4>
            <p>Precise referential movements.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/arrangeInt_128.png" alt="Arrange Interactive">
            <h4>Distribution tool</h4>
            <p>Distribute or redistribute objects (equally spaced) on a linear direction.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/dropObj_128.png" alt="Random transform">
            <h4>Drop objects</h4>
            <p>Drop objects on underlay surfaces</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/ScaleDim.png" alt="Random transform">
            <h4>Random transform</h4>
            <p>Apply random or pattern based transforms (Rotate, Scale, Translate). Includes a <b>clone</b> option to scatter objects.</p>
        </div>
    </div>
    <!-- Measure tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Measure tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/sdivide.png" alt="sdivide">
            <h4>Subdivide distance</h4>
            <p>Sets reference points between two picked points. Move mouse or type quantity to set segments amount.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Qmeasure.png" alt="Qmeasure">
            <h4>Distance</h4>
            <p>Live visual feedback measure tape. Orthogonal constraint and orthogonal reference modes. Continuos mode displays concatenated dimensions.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/dimobj_128.png" alt="Qarea_icon">
            <h4>Dimensions</h4>
            <p>Review distance measurements, create dimension objects to show them.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Qangle.png" alt="Qangle">
            <h4>Angle</h4>
            <p>Measure any angle by 3 points.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Qarea.png" alt="Qarea_icon">
            <h4>Polygonal area</h4>
            <p>Pick points to draw an a closed polygonal region and measure its area.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Qvolume.png" alt="Qvolume">
            <h4>Volume</h4>
            <p>Pick two diagonal points representing an enclosing box and measure its volume.</p>
        </div>
    </div>
    <!-- Additonal measure tools -->
    <div class="grid-row">
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/rg_ax_128.png">
            <h4>Active grid units</h4>
            <p>Display XYZ reference units for the active viewport grid</p>
        </div>
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/info.png" alt="info">
            <h4>Live Info</h4>
            <p>Viewport gizmo for displaying information about an object dimensions and transformation</p>
        </div>
    </div>
    <!-- RefGuides -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Spatial Reference guides</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-wide">
            <p class="align-left">Refernece tools are intended to improve and speed up architecture modeling, or any case where the use of dimensin references are needed. It allows to create construction guides, for accurately position and model objects. This guides can act as rulers, displaying custom measurement units in the viewport. The main functionality of this toolset consist in the creation of two types of reference objects: <b>linear guides and protractors</b>.</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Reference tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/rg_B_128.png">
            <h4>Line guides</h4>
            <p>Reference guide that works as a ruler.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/prot_128.png">
            <h4>Protractopr</h4>
            <p>Reference protractor object for working with angles.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/infer_128.png" alt="ints">
            <h4>Points</h4>
            <p>Position a vertex-snap enabled points in guides intersection.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/rg_inf_128.png">
            <h4>Viewport rulers</h4>
            <p>Display guides dimension's marks</p>
        </div>
    </div>
    <!-- refGuides modes -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Line guide and Protractor tool modes</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/rg_B_128.png">
            <p>Free-space coordinates creation</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/rg_ortho_128.png">
            <p>Orthogonal coordinates creation</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/rg_polar_128.png">
            <p>Polar coordinates creation</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/prot_128.png">
            <p>Protractor Free space</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/prot_polar_128.png">
            <p>Protractor Polar space</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/prot_ortho_128.png">
            <p>Protractor Orthogonal space</p>
        </div>
    </div>
    <!-- Object tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Object tools</h3>
        </div>
    </div>
    <!-- Array tools -->
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/ScaleDim.png" alt="1DARRAY">
            <h4>1D Array</h4>
            <p>Fast, interactive, in-viewport 1D Array: Set subdivision marks between two points, and place a clone on each mark</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/i_array.png" alt="IARRAY">
            <h4>Interactive Array</h4>
            <p>Fast, interactive, in-viewport 2.5D Array.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/P_array.png" alt="PARRAY">
            <h4>Pattern Array</h4>
            <p>Rule-based objects array generation with advanced transform options.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Maround.png" alt="Maround">
            <h4>Polar array</h4>
            <p>Clone an object around a reference center object.</p>
        </div>
        <!-- Geometry tools -->
        <div class="feature">
            <img src="/assets/images/icons/Explode_128.png" alt="EXPLODE">
            <h4>Explode</h4>
            <p>Detach geometry elements and spline shapes to individual objects.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/Merge_128.png" alt="MERGE">
            <h4>Merge</h4>
            <p>Merge will Combine geometry and splines in one object.</p>
        </div>
    </div>
    <!-- Utilities -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Utilities</h3>
        </div>
    </div>
    <!-- Eyedropper - Replicator -->
    <div class="grid-row">
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/eyedrop_1.png" alt="REPLICATOR">
            <h4>Replicator</h4>
            <p>Replace any object with another. Replicate multiple instances, keep or not material and transformations.</p>
        </div>
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/eyedrop_2.png" alt="MULTI">
            <h4>Eyedropper</h4>
            <p>Copy almost any property from one object to another. I.E: Match the radius of a circle with the length of a rectangle, render properties, layer or anything else.</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Eyedropper shortcuts</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/eyedrop_4.png" alt="material">
            <h5>Material</h5>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/eyedrop_6.png" alt="uvw">
            <h5>UVW mapping</h5>
            <p>modifers & direct mesh UV coordinates</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/eyedrop_5.png" alt="modifier">
            <h5>Modifiers</h5>
            <p>(non-topology dependant)</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/eyedrop_3.png" alt="transform">
            <h5>Standard transformations</h5>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/eyedrop_7.png" alt="appearance">
            <h5>Object properties</h5>
        </div>
    </div>
    <!-- Scene organization tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Scene organization tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature">
            <img src="/assets/images/icons/isolate_local.png" alt="bulb">
            <h4>Reference Isolate</h4>
            <p>Isolate object and set an active grid with it's local coordinates.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/IncIso_128.png" alt="inciso">
            <h4>Incremental Isolate</h4>
            <p>re-Isolate within current selection.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/bulb_usel.png" alt="bulb_usel">
            <h4>Unhide selection</h4>
            <p>This tool will temporally display all hidden objects (and hide visible ones) and let you select the ones you want to unhide.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/bulb_fsel.png" alt="bulb_fsel">
            <h4>Unfreeze selection</h4>
            <p>This tool will temporally invert the freeze state of all objects and let you select the ones you want to unfreeze.</p>
        </div>
    </div>
    <!-- Layer tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Layer tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/layIso_128.png" alt="locks_pos">
            <h4>Layer isolation</h4>
            <p>Isolate-Unisolate selected obect/s layer/s.</p>
        </div>
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/layProps_128.png" alt="locks_lay">
            <h4>Layer lock, visibility, backface cull...</h4>
            <p>Lock current layer or pick an object to change the layer state or properties.</p>
        </div>
    </div>
    <!-- Pivot tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Pivot, coordinates tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/qpivot.png" alt="qpivot">
            <h4>Pivot positioning</h4>
            <p>Top, bottom, center, cage align, 3-point align, face normal, reset (3-points and face normal has a Working pivot option) in an organized pop-up dialog.</p>
        </div>
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/Locks_pos.png" alt="locks_pos">
            <h4>Lock standard transformations</h4>
            <p>Convenient shortcuts to enable / disable standard transformations locks</p>
        </div>
    </div>
    <!-- Scene tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Viewports, scene management</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/camtool_128.png" alt="cammngr">
            <h4>Camera manager</h4>
            <p>Utility to review scene cameras, assign a custom resolution to each, and add it to a batch render view or state set.</p>
        </div>
        <div class="feature-two__fifth">
            <img src="/assets/images/icons/mtl_128.png" alt="matreplacer">
            <h4>Material replacer</h4>
            <p>Automate the process of replacing materials.</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-wide">
            <table>
                <tr>
                    <td><b>Bitmap multi-loader</b></td>
                    <td>Other material related tools</td>
                </tr>
                <tr>
                    <td><b>Map name from file</b></td>
                    <td>Change the names of Bitmap Textures to the name of the loaded files.</td>
                </tr>
                <tr>
                    <td><b>Remove material</b></td>
                    <td>Remove material from selection.</td>
                </tr>
                <tr>
                    <td><b>ID from camera</b></td>
                    <td>Set objects ID for current camera view.</td>
                </tr>
                <tr>
                    <td><b>Face Id</b></td>
                    <td>Select faces w/ same ID.</td>
                </tr>
                <tr>
                    <td><b>Random ID Set</b></td>
                    <td>Set random IDs.</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Utilities  -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Utilities</h3>
        </div>
    </div>
    <div class="grid-row">
        <!-- Paneling -->
        <div class="feature">
            <img src="/assets/images/icons/paneling.png" alt="paneling">
            <h4>Paneling and detailer tool.</h4>
            <p>Quickly create a grid of panels (boxes or custom geometry) in a planar surface. Originally intended to fast model furniture cabinets and add handles, now is a multi-purpose tool.</p>
        </div>
        <!-- UVW map -->
        <div class="feature">
            <img src="/assets/images/icons/multimap.png" alt="multimap">
            <h4>Multimap</h4>
            <p>Add individual UVW modifiers to a selection of objects, poly elements or faces. Randomize Gizmos, direct mesh coordinates or UVW Xform modifers.</p>
        </div>
        <div class="feature">
            <img src="/assets/images/icons/maptools.png" alt="maptools">
            <h4>Map Tools</h4>
            <p>Fit, center, reset UVW gizmos and delete UVW or UVW xform modifiers in selected objects from a convenient dialog.</p>
        </div>
        <!-- Snap states -->
        <div class="feature">
            <img src="/assets/images/icons/magnet.png" alt="magnet">
            <h4>Store snap settings state</h4>
            <p>Save and reuse different active snaps settings.</p>
        </div>
        <!-- Color clipboard -->
        <div class="feature">
            <img src="/assets/images/icons/color.png">
            <h4>Color clipboard toolbar</h4>
            <p>Dockable color swatches pallette.Generate random colors. Store and reuse colors.</p>
        </div>
    </div>
    <!-- Other tools -->
    <div class="grid-row">
        <div class="feature-wide">
            <h3>Other tools</h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="feature-wide">
            <table>
                <tr>
                    <td><b>Random Select</b></td>
                    <td>Select random nodes.</td>
                </tr>
                <tr>
                    <td><b>Align Assets</b></td>
                    <td>Put nodes in line.</td>
                </tr>
                <tr>
                    <td><b>Replace with Xref</b></td>
                    <td>Replace selected node with Xref Record.</td>
                </tr>
            </table>
        </div>
    </div>
</div>