<section class="feature__wrapper image-center text-center">
    <!-- Transform tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/rotate.png" alt="Ref. rotate" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Transform</h2>
            <div class="archive__item-excerpt">
                <p>
                    Precise CAD-like transforms.
                </p>
            </div>
        </div>
    </div>
    <!-- Dimension tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/Qmeasure.png" alt="Qmeasure" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Measure</h2>
            <div class="archive__item-excerpt">
                <p>
                    Inquiry dimensions, areas...
                </p>
            </div>
        </div>
    </div>
    <!-- regGuides -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/rg_B_128.png" alt="refGuides" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Project</h2>
            <div class="archive__item-excerpt">
                <p>
                    Spatial reference objects.
                </p>
            </div>
        </div>
    </div>
    <!-- Eyedropper -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/eyedrop_2.png" alt="Eyedropper" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Replicate</h2>
            <div class="archive__item-excerpt">
                <p>
                    Match properties, replace nodes with a few clicks.
                </p>
            </div>
        </div>
    </div>
    <!-- Object tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/i_array.png" alt="Interactive array" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Clone</h2>
            <div class="archive__item-excerpt">
                <p>
                    Make patterns & distribute elements .
                </p>
            </div>
        </div>
    </div>
    <!-- Geometry tools -->
    <!-- <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/Explode_128.png" alt="explodegeometry" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Simplify</h2>
            <div class="archive__item-excerpt">
                <p>
                    Useful accellerators for common operations.
                </p>
            </div>
        </div>
    </div> -->
    <!-- management tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/layIso_128.png" alt="Layer isolation" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Organize & manage</h2>
            <div class="archive__item-excerpt">
                <p>
                    Work faster with layers and manage node visibility. Isolate objects in local space; Nested isolation...
                </p>
            </div>
        </div>
    </div>
    <!-- Scene tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/camtool_128.png" alt="camManager" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Preparing scene to render</h2>
            <div class="archive__item-excerpt">
                <p>
                   Review cameras and different output sizes faster, Set up bacth render views with fewer clicks.
                </p>
            </div>
        </div>
    </div>
    <!-- Material tools -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/mtl_128.png" alt="camManager" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Materials and textures</h2>
            <div class="archive__item-excerpt">
                <p>
                    Load a bunch of Textures in one operation. Easy manage geometry IDs...
                </p>
            </div>
        </div>
    </div>
    <!-- Utilities -->
    <div class="feature__item">
        <img class="icon-medium" src="/assets/images/icons/maptools.png" alt="Multimap" />
        <div class="archive__item-body">
            <h2 class="archive__item-title">Utilities</h2>
            <div class="archive__item-excerpt">
                <p>
                    Apply, edit and randomize UVW modifiers on multiple objects at the same time. Detail furniture cabinets, and more useful utilities.
                </p>
            </div>
        </div>
    </div>
</section>