<div class="flexslider">
    <ul class="slides">
      <li><img src="/assets/images/slide_refguides.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_quick_measuere.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_ref_rotation.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_ref_scale.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_ref_offset.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/dimobj_preview.png" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_divide_distance.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_quick_angle.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_menu.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_ribbon_tab.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_multimap.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_paneling.jpg" alt="Features slider"/></li>
      <li><img src="/assets/images/slide_pivot_tools.jpg" alt="Features slider"/></li>
      <!-- <li><img src="/assets/images/slide_local_isolate.jpg" alt="Features slider"/></li> -->
    </ul>
  </div>