---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/*
==========================================================================
Variables
==========================================================================
*/

/*
  Typography
  ========================================================================== */
$doc-font-size: 14;

/*
$type-main-increment: 2px !default;

$type-main-default: 16px;
$type-main-medium: ($type-main-default + $type-main-increment);
$type-main-large: ($type-main-default + $type-main-increment);
$type-main-x-large: ($type-main-default + $type-main-increment);
*/

/* type scale */
$type-global-scale: 1 !default;

$type-size-1: (2.441em * $type-global-scale); // ~39.056px
$type-size-2: (1.953em * $type-global-scale); // ~31.248px
$type-size-3: (1.563em * $type-global-scale); // ~25.008px
$type-size-4: (1em * $type-global-scale); // ~20px -- Used in page hero
$type-size-5: (1em * $type-global-scale); // ~16px
$type-size-6: (0.75em * $type-global-scale); // ~12px
$type-size-7: (0.6875em * $type-global-scale); // ~11px
$type-size-8: (0.625em * $type-global-scale); // ~10px

/* headline scale */
$h-size-1: $type-size-3; // 1.563em; // ~25.008px
$h-size-2: $type-size-4; // 1.25em; // ~20px
$h-size-3: $type-size-5; // 1.125em; // ~18px
$h-size-4: $type-size-6; // 1.0625em; // ~17px
$h-size-5: $type-size-6; // 1.03125em; // ~16.5px
$h-size-6: $type-size-6; // 1em; // ~16px

/* Colors ========================================================================== */

$hero-text-color: black; /*5BA0FF*/

$gray: #7a8288;
$dark-gray: mix(#000, $gray, 40%);
$darker-gray: mix(#000, $gray, 60%);
$light-gray: mix(#fff, $gray, 50%);
$lighter-gray: mix(#fff, $gray, 90%);

$background-color: #fff;
$text-color: $dark-gray;
$muted-text-color: mix(#fff, $text-color, 35%);
$border-color: $lighter-gray;
$form-background-color: $lighter-gray;
$footer-background-color: $background-color;

$primary-color: #6f777d;
$info-color: #1377ff;
$focus-color: $primary-color;
$active-color: mix(#fff, $primary-color, 80%);

/* brands */
// $behance-color: $primary-color;
// $bitbucket-color: $primary-color;
// $facebook-color: $primary-color;
// $github-color: $primary-color;
// $gitlab-color: $primary-color;
// $instagram-color: $primary-color;
// $linkedin-color: $primary-color;
// $reddit-color: $primary-color;
// $rss-color: $primary-color;
// $stackoverflow-color: $primary-color;
// $twitter-color: $primary-color;
// $vimeo-color: $primary-color;
// $youtube-color: $primary-color;

/* links */
$link-color: $darker-gray;
$link-color-hover: $info-color;
$masthead-link-color: $darker-gray;

/*
  Grid
  ========================================================================== */
$right-sidebar-width: 200px;

/* Other
  ========================================================================== */
$border-radius: 4px;

// $hero-min-height: 450px;

/*
==========================================================================
Imports
==========================================================================
*/

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
// @import "minimal-mistakes/variables"; // main partials
@import "minimal-mistakes"; // main partials
@import "/assets/css/flexslider.css";

// @import "markdown";
// @import "features-page";
// @import "buy-now-template";

/*
==========================================================================
Buy now template
==========================================================================
*/

.element-highlight {
  background-color: mix(#fff, $info-color, 80%);
  margin: 2em 0 !important; /* override*/
  padding: 1em;
  color: $dark-gray;
  font-family: $global-font-family;
  // font-size: $type-size-6 !important;
  text-indent: initial; /* override*/
  border-radius: $border-radius;
  // box-shadow: 0 1px 1px rgba($notice-color, 0.25);

  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
}

/*
==========================================================================
elements for features
==========================================================================
*/

%title-shared {
  border-bottom: solid 1px $border-color;
  padding: 0.2em;
  margin: 0;
}

.section--featured {
  margin: 2em 0 !important;
  padding: 1em;
  font-family: $global-font-family;
  font-size: $type-size-6 !important;
  text-indent: initial;
  border-radius: $border-radius;
}

// features page
.grid-row {
  // @include clearfix;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;

  @include breakpoint($large) {
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
  }

  .generic {
    vertical-align: top;
    text-align: center;
    width: span(1 of 1);
    // @include breakpoint($large) {
    //     width: span(1 of 5);
    // }
  }

  .feature {
    transition: background-color 0.5s ease-out;
    border-radius: $border-radius;
    vertical-align: top;
    padding: 1.5em;
    width: span(5 of 5);

    @include breakpoint($medium) {
      width: span(6 of 12 set-gutters 0.5em);
    }
    @include breakpoint($large) {
      width: span(1 of 5);
    }

    &:hover {
      background-color: $lighter-gray;
    }

    h3 {
      @extend %title-shared;
      text-align: left;
    }

    h4 {
      font-size: $type-size-3;
      @include breakpoint($large) {
        font-size: $type-size-4;
      }
    }

    p {
      margin: 0;
      padding: 0;
      @include breakpoint($large) {
        font-size: small;
      }
    }

    img {
      width: 2.5em;
      height: auto;
    }

    &-two__fifth {
      @extend .feature;
      width: span(2 of 5);
    }

    &-three__fifth {
      @extend .feature;
      width: span(3 of 5);
    }

    &-wide {
      @extend .feature;
      width: span(1 of 1);
    }
  }
}

/*
==========================================================================
Markdown styles
==========================================================================
*/
.no-margin {
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

// small image style
.icon-small {
  width: 3.12em;
  height: auto;
}

.icon-medium {
  width: 5em;
  height: auto;
}

mark {
  font-weight: bold;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.4em;
  border-radius: $border-radius;
  background-color: $light-gray;
}

/*
==========================================================================
extensions
==========================================================================
*/

hr {
  border: 0;
  background-color: $light-gray;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

// flexslider
.flexslider .slides img {
  border-radius: $border-radius;
}

/* ==========================================================================
  Utilities
  ==========================================================================
*/
.text-small {
  font-size: $type-size-7 !important;
}
/*
==========================================================================
Overrides
==========================================================================
*/
/* apply a natural box layout model to all elements */
/*
html {
    font-size: $type-main-default;
  
    @include breakpoint($medium) {
      font-size: $type-main-medium;
    }
  
    @include breakpoint($large) {
      font-size: $type-main-large;
    }
  
    @include breakpoint($x-large) {
      font-size: $type-main-x-large;
    }
  
  }
*/
.archive__subtitle {
  margin: 1.414em 0 0;
}

.archive__item-excerpt {
  font-size: $type-size-5;
}
// Links text decoration
.archive__item-title > a {
  text-decoration: none;
}

//Additions to archive elements
.ruled-archive {
  .archive__item {
    border-top: solid 1px $border-color;
  }
}

//  ============================================  //
.masthead,
.masthead__menu,
.greedy-nav {
  border-bottom: none;
}

.search__toggle,
.search__toggle:hover {
  color: black;
}

.navicon,
.navicon:after,
.navicon:before,
.navicon:hover,
.greedy-nav__toggle:before {
  background: black;
}

.greedy-nav {
  font-size: $type-size-6;
  //   font-variant: all-small-caps;
  text-transform: uppercase;
  .visible-links {
    a {
      &:before {
        height: 2px;
      }
    }
  }
}

// Social Buttons style overrides
.social-icons li a i {
  color: $dark-gray !important;
}

// extend responsive video container
.responsive-video-container {
  border-radius: $border-radius;
}

.gist .blob-wrapper.data {
  max-height: 18.75;
  overflow: auto;
}

/* page hero */

.page__hero {
  &--overlay {
    .page__title,
    .page__meta,
    .page__lead {
      color: $darker-gray;
      text-align: center;
      background-color: rgba(#fff, 0.3);
      border-radius: $border-radius;
      // backdrop-filter: blur(5px);
    }
    .wrapper {
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      min-height: 60vh;

      @include breakpoint($large) {
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
      }

      img {
        object-fit: cover;
        height: 100%;
        text-align: center;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;

        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
      }

      .col {
        border-radius: $border-radius;
        vertical-align: top;

        &-1 {
          width: span(2 of 4);
        }
        &-2 {
          width: span(2 of 4);
        }
      }
    }
  }
}

// forms
input,
textarea {
  outline: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
  box-shadow: none;
}
